{% extends "base.html" %}
{% block title %}Experience{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<section id="experience" class="background">
    <h3>Education Experience</h3>
    <hr>
    <p1> <b>University of North Carolina at Chapel Hill</b> (2023-2025)<br> </p1>
    
    <p class="education-details">
        Bachelor's Degree | GPA: 3.81/4.0 <br>
        Major: Communication Studies: Media Production & Technology &  Information Science<br>
        Relevant Course Work: Audio/Video/Film Production and Writing, Programming and Data Science,  <br>
        Introduction to Media Production, Perspectives & Concepts of Communication Studies.
 
</p>

    <img src="static/img/UNC2.png" alt="A beautiful landscape" class="UNC">
    
    <p2> <b>Syracuse University </b>(2021-2023) <br> </p2>
    <p class="education-details2">
        GPA: 3.91/4.0<br>
        Major: Magazine, News and Digital Journalism & Applied Data Analytics <br>
        Renée Crown University Honors Program<br>
        Academic Merit Scholarships & Dean’s List<br>
        
    </p>

    <img src="static/img/SU2.png" alt="A beautiful landscape" class="SU">
</section>
{% endblock %}
