{% extends "base.html" %}

{% block title %}Home Page{% endblock %}
{% block cover_img %}cover_img{% endblock %}
 
{% block content %}
<link rel="stylesheet" href="/static/css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<h1>Meet Ryan</h1>
<img src="static/img/abc.png" alt="A beautiful landscape" class="homepage-image">


<section id="projects">
  <h2>Ryan Brings Creativity and Passion to Every Frame</h2>


<div class="social-media-icons">
  <a href="https://www.instagram.com/zhixin_ryan" target="_blank" title="Instagram">
      <i class="fab fa-instagram"></i>
  </a>
  <a href="https://www.linkedin.com/in/zhixin-deng-ryan/" target="_blank" title="LinkedIn">
      <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://www.facebook.com/" target="_blank" title="Facebook">
    <i class="fab fa-facebook-f"></i>
  <a href="https://www.tiktok.com/" target="_blank" title="Visit Facebook">
      <i class="fab fa-tiktok"></i>
  </a>
</a>
</div>

  
{% endblock %}
