{% extends "base.html" %}
{% block title %}To Shoot or Not to Shoot...?{% endblock %}

{% block content %}
<!-- Link to the Google Font for Lobster -->
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<!-- Section for the Project -->
<section id="project" class="background12">
 
    <h1 style="font-family: 'Lobster', cursive;"></h1>
    <p>This artwork is a personal exploration, combining AI-generated elements with my own creative edits in Adobe Photoshop. I enjoy pushing the boundaries of imagination, using a mix of historical symbols, mythical creatures, and unexpected juxtapositions to create something that feels both familiar and otherworldly. This piece is a reflection of how I see the world—complex, layered, and full of contrasts. It’s not just an image; it’s a story that I’ve crafted, one that invites you to interpret and feel in your own unique way.</p>
    
    <!-- Poster Image -->
    <div class="poster">
        <img src="static/img/COMM.png" alt="Poster" style="width: 160%; max-width: 800px; height: auto ; transform: translateX(-100px);">
    </div>
</section>


<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<section id="expece" class="headings1">
    <h1 style="font-family: 'Lobster', cursive;">The Duality of Existence</h1>
</section>



</style>
</head>
<body>
</div>
</body>
{% endblock %}
